body {
    text-align: center;
}
h1{
    display: inline-flex;
    font-style: oblique;
    border: 1px solid  black;
    background-color: chartreuse;
}
#pagetitle {
    padding: 10px;
    background: #6ab6b2;
    width: 10%;
    margin: auto;
    margin-bottom: 20px;
}